<footer class="site-footer">
  <div class="container about">
    <h3>About the Author</h3>
    <!-- <img src="/assets/images/luke-small.png" alt="Luke Lecheler" width="60px" /> -->
    <div>
      <b>Luke Lecheler</b> is a developer, researcher, writer, musician, and educator. He currently works at <a href="https://info.flipgrid.com" target="_blank">Flipgrid</a>. When he's not coding or writing, he plays keys in <a href="https://natocoles.bandcamp.com/" target="_blank">Nato Coles & The Blue Diamond Band</a> and guiar in <a href="https://therighthere.bandcamp.com/" target="_blank">The Right Here</a>. His mom assures you his dissertation will be done soon.
    </div>
  </div>
</footer>